@model SPISAP.Models.EmployeeViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Gestión de Registros de Trabajadores</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <a class="navbar-brand navbar-right">Usuario : Mario Bergoglio</a>
        </div>
      </div>
    </nav>

    <br>
    <br>
    <br>

    <!-- Formulario de Datos del Trabajador -->
    <div class="container jumbotron form-signin">

        <div class="row">
            
        <!-- DATOS PERSONALES -->
            <div class="title green">DATOS PERSONALES</div>

            <div class="row">
                <br>
                <div class="col-md-3">
                Primer Apellido :
                <input type="input" id="primer_apellido" class="form-control"   autofocus>
                </div>
                <div class="col-md-3">
                Segundo Apellido :
                <input type="input" id="segundo_apellido" class="form-control"   autofocus>
                </div>
                <div class="col-md-3">
                Nombres :
                <input type="input" id="nombres" class="form-control"   autofocus>
                </div>
                <div class="col-md-2">
                Cédula :
                <input type="input" id="cedula" class="form-control"   autofocus>
                </div>
                <div class="col-md-1">
                Sexo :
                @Html.DropDownListFor(m => m.SEXO, new SelectList(Model.Generos, "CODIGO", "DESCRIPCION", Model.Generos), new { @class = "form-control", id="sexo" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                Fecha de Nacimiento :
                <input type="input" id="primer_apellido" class="form-control"   autofocus>
                </div>
                <div class="col-md-3">
                Ciudad de Nacimiento :
                <input type="input" id="primer_apellido" class="form-control"   autofocus>
                </div>
                <div class="col-md-3">
                    País de Nacimiento :
                    @Html.DropDownListFor(m => m.COD_PAIS, new SelectList(Model.Paises, "COD_PAIS", "DES_PAIS", Model.Paises), new { @class = "form-control", @id="pais" })
                </div>
                <div class="col-md-3">
                    Nacionalidad :
                    @Html.DropDownListFor(m => m.COD_NACIONALIDAD, new SelectList(Model.Nacionalidades, "COD_NACIONALIDAD", "DES_NACIONALIDAD", Model.Nacionalidades), new { @class = "form-control", @id="nacionalidad" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Estado de Nacimiento :
                    @Html.DropDownListFor(m => m.COD_ESTADO, new SelectList(Model.Estados, "COD_ESTADO", "DES_ESTADO", Model.Estados), new { @class = "form-control", @id="edonac" })
                </div>
                <div class="col-md-3">
                    Estado Civil :
                    @Html.DropDownListFor(m => m.ESTADO_CIVIL, new SelectList(Model.EstadoCivil, "CODIGO", "DESCRIPCION", Model.EstadoCivil), new { @class = "form-control", @id="edocivil" })
                </div>
                <div class="col-md-3">
                RIF :
                <input type="input" id="" class="form-control"   autofocus>
                </div>
                <div class="col-md-3">
                Correo Electrónico :
                <input type="input" id="" class="form-control"   autofocus>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Nivel de Cargo :
                    @Html.DropDownListFor(m => m.COD_AREA_PERSONAL, new SelectList(Model.NivelCargo, "COD_AREA_PERSONAL", "DES_AREA_PERSONAL", Model.NivelCargo), new { @class = "form-control", @id="nivelcargo" })
                </div>
                <div class="col-md-3">
                    Nombre del Cargo :
                    <input type="input" id="" class="form-control"   autofocus>
                </div>
                <div class="col-md-2">
                    Sucursal :
                    @Html.DropDownListFor(m => m.COD_SUCURSAL, new SelectList(Model.Sucursales, "COD_SUCURSAL", "DES_SUCURSAL", Model.Sucursales), new { @class = "form-control", @id="sucursal" })
                </div>
                <div class="col-md-2">
                    Tipo de Contratación :
                    @Html.DropDownListFor(m => m.COD_GRUPO, new SelectList(Model.GrupoPersonal, "COD_GRUPO", "DES_GRUPO_PERSONAL", Model.GrupoPersonal), new { @class = "form-control", @id="grupopersonal" })
                </div>
                <div class="col-md-2">
                    Tratamiento :
                    <input type="input" id="" class="form-control"  readonly="readonly">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    Talla de Camisa :
                    @Html.DropDownListFor(m => m.CHEMISE, new SelectList(Model.TallaChemise, "CODIGO", "DESCRIPCION", Model.TallaChemise), new { @class = "form-control", @id="chemise" })
                </div>
                <div class="col-md-4">
                    Talla de Pantalón :
                    @Html.DropDownListFor(m => m.PANTALON, new SelectList(Model.TallaPantalon, "CODIGO", "DESCRIPCION", Model.TallaPantalon), new { @class = "form-control", @id="pantalon" })
                </div>
                <div class="col-md-4">
                    Nro. de Zapato :
                    @Html.DropDownListFor(m => m.CALZADO, new SelectList(Model.TallaCalzado, "CODIGO", "DESCRIPCION", Model.TallaCalzado), new { @class = "form-control", @id="calzado" })
                </div>
            </div>
            
        </div>
        <!-- // DATOS PERSONALES -->

        <br>  

        <!-- DIRECCIÓN DEL TRABAJADOR -->
        <div class="row">
            <div class="title green">DIRECCIÓN DEL TRABAJADOR</div>
            <div class="row">
                <br>
                <div class="col-md-4">
                Calle :
                <input type="input" id="" class="form-control"   autofocus></div>
                <div class="col-md-3">
                Edificio/Casa/Escalera :
                <input type="input" id="" class="form-control"   autofocus></div>
                <div class="col-md-1">
                Piso :
                <input type="input" id="" class="form-control"   autofocus></div>
                <div class="col-md-1">
                Número :
                <input type="input" id="" class="form-control"   autofocus></div>
                <div class="col-md-3">
                Urbanización/Zona :
                <input type="input" id="" class="form-control"   autofocus></div>
            </div>
            <div class="row">
                <div class="col-md-3">
                País :
                @Html.DropDownListFor(m => m.COD_PAIS, new SelectList(Model.Paises, "COD_PAIS", "DES_PAIS", Model.Paises), new { @class = "form-control", @id="paissso" })
                </div>
                <div class="col-md-3">
                Estado :
                @Html.DropDownListFor(m => m.COD_ESTADO_SSO, new SelectList(Model.EstadoSSO, "COD_ESTADO_SSO", "DES_ESTADO_SSO", Model.EstadoSSO), new { @class = "form-control", @id="estadosso" })
                </div>
                <div class="col-md-3">
                Ciudad :
                <input type="input" id="ciudadsso" class="form-control"  autofocus>
                </div>
                <div class="col-md-3">
                Municipio :
                @Html.DropDownListFor(m => m.COD_MUNICIPIO_SSO, new SelectList(Model.MunicipioSSO, "COD_MUNICIPIO", "DES_MUNICIPIO", Model.MunicipioSSO), new { @class = "form-control", @id="municipiosso" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                Parroquia :
                @Html.DropDownListFor(m => m.COD_PARROQUIA_SSO, new SelectList(Model.ParroquiaSSO, "COD_PARROQUIA", "DES_PARROQUIA", Model.ParroquiaSSO), new { @class = "form-control", @id="parroquiasso" })
                </div>
                <div class="col-md-4">
                  Teléfono de Habitación :
                  <input type="input" id="" class="form-control"  autofocus>
                </div>
                <div class="col-md-4">
                  Teléfono Celular :
                  <input type="input" id="" class="form-control"  autofocus>
                </div>
            </div>
        </div>
        <!-- // DIRECCIÓN DEL TRABAJADOR -->

        <br>

        <!-- DISCAPACIDAD -->
        <div class="row">
            <div class="title green">DISCAPACIDAD</div>
            <div class="row">
                <br>
                <div class="col-md-offset-3 col-md-3">
                  Motriz :
                  <input type="checkbox" class="checkthis" />
                </div>
                <div class="col-md-3">
                  Intelectual :
                  <input type="checkbox" class="checkthis" />
                </div>
                <div class="col-md-3">
                  Sensorial :
                  <input type="checkbox" class="checkthis" />
                </div>
            </div>
        </div>
        <!-- // DISCAPACIDAD -->

        <br>

        <!-- TABLA DE DATOS FAMILIARES -->
        <div class="row">
          <div class="title green">INDIQUE LOS DATOS FAMILIARES DIRECTOS (Esposo(a), hijos, madre y padre)</div>
          <table class="table table-bordred table-striped" id="tab_logic">
          <thead>
            <tr>
              <th class="text-center">Relación/Parentesco</th>
              <th class="text-center">1er Apellido</th>
              <th class="text-center">2do Apellido</th>
              <th class="text-center">Nombres</th>
              <th class="text-center">Fecha de Nacimiento</th>
              <th class="text-center">Lugar de Nacimiento</th>
              <th class="text-center">País</th>
              <th class="text-center">Nacionalidad</th>
              <th class="text-center">C.I. Familiar</th>
              <th class="text-center">Sexo</th>
              <th class="text-center"></th>
            </tr>
          </thead>
          <tr id='addr0' data-id="0" class="hidden">
            <td data-name="parentesco">
                @Html.DropDownListFor(m => m.DATOS_FAMILIARES.COD_PARENTESCO, new SelectList(Model.Parentescos, "COD_PARENTESCO", "DES_PARENTESCO", Model.Parentescos), new { @class = "form-control" })
            </td>
            <td data-name="apellido">
                <input type="text" name='apellido0' class="form-control"/>
            </td>
            <td data-name="sapellido">
                <input type="text" name='sapellido0' class="form-control"/>
            </td>
            <td data-name="nombres">
                <input type="text" name='nombres0' class="form-control"/>
            </td>
            <td data-name="fchnac">
                <input type="text" name='fchnac0' class="form-control"/>
            </td>
            <td data-name="lugarnac">
                <input type="text" name='lugarnac0' class="form-control"/>
            </td>
            <td data-name="pais">
                @Html.DropDownListFor(m => m.DATOS_FAMILIARES.COD_PAIS, new SelectList(Model.Paises, "COD_PAIS", "DES_PAIS", Model.Paises), new { @class = "form-control" })
            </td>
            <td data-name="nacionalidad">
                @Html.DropDownListFor(m => m.DATOS_FAMILIARES.COD_NACIONALIDAD, new SelectList(Model.Nacionalidades, "COD_NACIONALIDAD", "DES_NACIONALIDAD", Model.Nacionalidades), new { @class = "form-control" })
            </td>
            <td data-name="cedula">
                <input type="text" name='cedula0' class="form-control"/>
            </td>            
            <td data-name="sexo">
                @Html.DropDownListFor(m => m.DATOS_FAMILIARES.SEXO, new SelectList(Model.Generos, "CODIGO", "DESCRIPCION", Model.Generos), new { @class = "form-control" })
            </td>                        
            <td data-name="del">
                <button name="del0" class='btn btn-danger glyphicon glyphicon-remove row-remove'></button>
            </td>
          </tr>          

          </table>

          <br>

        </div>
        <!-- // TABLA DE DATOS FAMILIARES -->

        <div class="row text-center">
          <a id="add_row" class="btn btn-success">Agregar Familiar</a>            
        </div>

        <br>

        <!-- FORMACIÓN -->
        <div class="row">
          
          <div class="title green">FORMACIÓN</div>

            <table class="table table-bordred table-striped" id="tab_formacion">  
          
            <thead><tr></tr></thead>
            
            <tr id='trformacion0' data-id="0" class="hidden">

            <td data-name="tdformacion">

              <div class="col-md-3">
                Formación :
                @Html.DropDownListFor(m => m.DATOS_FORMACION.COD_FORMACION, new SelectList(Model.Formaciones, "COD_FORMACION", "DES_FORMACION", Model.Formaciones), new { @class = "form-control" })
              </div>
              <div class="col-md-3">
                Nivel de Estudio :
                @Html.DropDownListFor(m => m.DATOS_FORMACION.COD_CLASE, new SelectList(Model.NivelEstudio, "COD_CLASE", "DES_CLASE", Model.NivelEstudio), new { @class = "form-control" })
              </div>
              <div class="col-md-3">
                Condición :
                @Html.DropDownListFor(m => m.DATOS_FORMACION.CT_COD_TITULO, new SelectList(Model.Condiciones, "COD_TITULO", "DES_TITULO", Model.Condiciones), new { @class = "form-control" })
              </div>
              <div class="col-md-2">
                Especialidad :
                @Html.DropDownListFor(m => m.DATOS_FORMACION.CE_COD_ESPECIALIDAD, new SelectList(Model.Especialidades, "COD_ESPECIALIDAD", "DES_ESPECIALIDAD", Model.Especialidades), new { @class = "form-control" })
              </div>
              <div class="col-md-1">
                .
                <button name="delete0" class='btn btn-danger glyphicon glyphicon-remove row-remove'></button>                
              </div>


              <div class="col-md-3">
                Nombre del Instituto :
                @Html.TextBoxFor(model => model.DATOS_FORMACION.INSTITUO, new { @class = "form-control" })
                @*@Html.ValidationMessageFor(model => model.name2)*@              
              </div>
              <div class="col-md-1" style="padding-right: 0px;">
                Duración :
                @Html.TextBoxFor(model => model.DATOS_FORMACION.DURACION, new { @class = "form-control" })
              </div>
              <div class="col-md-2" style="padding-left: 0px;">
                .
                @Html.DropDownListFor(m => m.DATOS_FORMACION.UNIDAD_TIEMPO, new SelectList(Model.UnidadesTiempo, "CODIGO", "DESCRIPCION", Model.UnidadesTiempo), new { @class = "form-control" })
              </div>
              <div class="col-md-2">
                Fecha de Inicio :
                @Html.TextBoxFor(model => model.DATOS_FORMACION.FECHA_INICIO, new { @class = "form-control" })              
              </div>
              <div class="col-md-2">
                Fecha de Finalización :
                @Html.TextBoxFor(model => model.DATOS_FORMACION.FECHA_FIN, new { @class = "form-control" })             
              </div>
              <div class="col-md-2">
                País :
                @Html.DropDownListFor(m => m.DATOS_FORMACION.COD_PAIS, new SelectList(Model.Paises, "COD_PAIS", "DES_PAIS", Model.Paises), new { @class = "form-control", @id="pais" })
              </div>

            </td>
            
            </tr>
          
            </table>
          
            <br>
            
            <div class="row text-center">
              <a id="add_row_formacion" class="btn btn-md btn-success">Agregar Formación</a>            
            </div>
        
        </div>
        <!-- // FORMACIÓN -->

    </div>
