@model SPISAP.Models.FilterViewModel

@{
    ViewBag.Title = "Filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Gestión de Registros de Trabajadores</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <a class="navbar-brand navbar-right">Usuario : @Session["USUARIO"].ToString() </a>
        </div>
      </div>
    </nav>

@Html.Partial("_ValidationSummary")

    <div class="container">
        <div class="row" style="margin-left: 150px; margin-right: 150px;">
            <div class="card">
            <h3>Formulario de Búsqueda de Registro de Trabajador</h3>
            <br>
            <form class="form-horizontal" action="@Url.Action("Filter","Employee")" method="POST">
                <div class="col-md-2" style="width: 110px;">
                Cédula :
                @Html.TextBoxFor(model => model.CEDULA, new { @class = "form-control", @maxlength="8" , @style="text-align:center"})
                </div>
                <div class="col-md-3" style="width: 130px;">
                Ficha :
                @Html.TextBoxFor(model => model.FICHA, new { @class = "form-control", id = "primerapellido", @maxlength="12", @style="text-align:center" })
                </div>
                <div class="col-md-3" style="width: 380px;">
                Primer Apellido :
                @Html.TextBoxFor(model => model.PRIMER_APELLIDO, new { @class = "form-control", id = "primerapellido", @Value="", @maxlength="40" })
                </div>
                <br>
                <button type="submit" class="btn btn-success">Buscar Trabajador</button>
            </form>
            </div>
            <div class="row text-center">
                <a class="btn btn-success btn-md" href="@Url.Action("Create","Employee")">Agregar Nuevo Trabajador</a>
                <a class="btn btn-danger btn-md" href="@Url.Action("Logout","Home")">Cerrar Sesión</a>
            </div>
	    </div>
    </div>
